html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

html,
body {
    background: #F6F7F8;
    font-family: "helveticaneue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

a,
p,
img {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none
}

p {
    font-family: "helveticaneue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    color: #9197A3;
    margin-bottom: 24px
}

strong {
    font-family: "helveticaneue-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600
}

hr {
    height: 0px;
    border-bottom: 0px;
    opacity: .4;
    max-width: 820px;
    margin: 0 auto
}

h1 {
    font-family: "helveticaneue-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #141823
}

h2 {
    font-family: "helveticaneue-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #141823
}

h3 {
    margin: 0 auto;
    font-family: "helveticaneue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #9197A3;
    padding: 12px 0 24px 0;
    max-width: 375px
}

h4 {
    margin: 0 auto;
    font-family: "helveticaneue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    color: #9197A3
}

a:hover {
    opacity: .75
}

::selection {
    background: #5B93FC;
    color: #fff
}

::-moz-selection {
    background: #5B93FC;
    color: #fff
}

.columns-2 {
    width: 50%;
    position: relative;
    float: left;
    display: block;
    margin-bottom: 28px
}

.columns-1 {
    width: 100%;
    position: relative;
    display: block
}

/*# {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
    -webkit-backdrop-filter: blur(20px);
    z-index: 2
}*/

/*.header-wrapper {
    max-width: 100%;
    margin: 18px auto 0 auto;
    padding: 0 22px;
    box-sizing: border-box;
    z-index: 3;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}*/

.logo {
    display: inline-block;
    background-color: transparent;
    font-family: "helveticaneue-light", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #4E5664
}

.logo a {
    text-decoration: none;
    color: #4E5664
}

.logo span {
    vertical-align: top;
    line-height: 24px
}

.nav-item {
    margin: 95px 0px
}

.nav-item a {
    color: #9197A3;
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    font-weight: 500;
    letter-spacing: -0.04em;
    overflow-y: hidden;
    margin: 75px 00px;
    text-decoration: none
}

.nav-item a.active {
    color: #5994FC
}

.menu {
    display: block
}

.menu a {
    color: #9197A3;
    font-family: "helveticaneue-medium", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 24px;
    vertical-align: top
}

.menu a.active {
    color: #5993FC
}

.hide {
    display: none
}

.icon {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 8px
}

.page-wrapper {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1
}

#main-content {
    text-align: center;
    min-height: 100vh;
    position: relative
}

#middle-content {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -2em;
    text-align: center;
    width: 100%
}

#middle-content h1 {
    color: #141823;
    font-size: 54px;
    font-family: "helveticaneue-thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200
}

#top-content {
    position: absolute;
    top: 0%;
    height: 10em;
    margin-top: 8em;
    text-align: center;
    width: 100%
}

#top-content h1 {
    color: #141823;
    font-size: 54px;
    font-family: "helveticaneue-thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200
}

.card {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 24px 0;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #5B93FC
}

.card p.download {
    color: #5B93FC;
    margin: 0
}

.card p.download:hover {
    opacity: .75
}

.card .small {
    margin-bottom: 0px
}

.card:hover {
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3)
}

.card img {
    width: 80%;
    margin-bottom: 5px
}

.small {
    color: #9197A3;
    font-size: 11px
}

.small a {
    color: #9197A3
}

#arrow .arrow-icon {
    width: 25px;
    height: 14px;
    cursor: pointer;
    padding: 10px 10px
}

.fade1 {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
}

.fade1-loaded {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-transition: -webkit-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -moz-transition: -moz-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -o-transition: -o-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -ms-transition: -ms-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.61, 0.35, 1);
    transition: transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -webkit-transform: scale(1);
    -moz-transform: translateY(00px) scale(1);
    -o-transform: translateY(00px) scale(1);
    -ms-transform: translateY(00px) scale(1);
    transform: translateY(00px) scale(1);
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -o-transition-delay: .25s;
    -ms-transition-delay: .25s;
    transition-delay: .25s
}

.fade2 {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
}

.fade2-loaded {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-transition: -webkit-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -moz-transition: -moz-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -o-transition: -o-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -ms-transition: -ms-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.61, 0.35, 1);
    transition: transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -webkit-transform: scale(1);
    -moz-transform: translateY(00px) scale(1);
    -o-transform: translateY(00px) scale(1);
    -ms-transform: translateY(00px) scale(1);
    transform: translateY(00px) scale(1);
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s
}

.fade3 {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
}

.fade3-loaded {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-transition: -webkit-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -moz-transition: -moz-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -o-transition: -o-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -ms-transition: -ms-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.61, 0.35, 1);
    transition: transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -webkit-transform: scale(1);
    -moz-transform: translateY(00px) scale(1);
    -o-transform: translateY(00px) scale(1);
    -ms-transform: translateY(00px) scale(1);
    transform: translateY(00px) scale(1);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    -ms-transition-delay: .4s;
    transition-delay: .4s
}

.fade4 {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
}

.fade4-loaded {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-transition: -webkit-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -moz-transition: -moz-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -o-transition: -o-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -ms-transition: -ms-transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.61, 0.35, 1);
    transition: transform .85s cubic-bezier(0.07, 0.8, 0.16, 1), opacity .85s cubic-bezier(0.2, 0.6, 0.35, 1);
    -webkit-transform: scale(1);
    -moz-transform: translateY(00px) scale(1);
    -o-transform: translateY(00px) scale(1);
    -ms-transform: translateY(00px) scale(1);
    transform: translateY(00px) scale(1);
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s
}

@-webkit-keyframes "inf-bounce" {
    0%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}

keyframes inf-bounce {
    0%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
    50% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }
}

#bottom-content {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    bottom: 10px
}

#arrow {
    -webkit-animation: inf-bounce 1.5s infinite;
    animation: inf-bounce 1.5s infinite
}

#header-graphic.devices {
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: absolute;
    background-image: url(../img/resource_devices_www_cover_1@2x.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2000px
}

#header-graphic2.devices {
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: absolute;
    background-image: url(../img/resource_devices_www_cover_2@2x.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2000px
}

#header-graphic {
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: absolute;
    background-image: url(../img/resource_iOS9_www_cover_1@2x.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2000px
}

#header-graphic2 {
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: absolute;
    background-image: url(../img/resource_iOS9_www_cover_2@2x.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2000px
}

#hands-graphic {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/resource_handskit_www_cover@2x.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 1200px
}

.index {
    font-size: 44px;
    width: 95%;
    font-family: "helveticaneue-thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    max-width: 820px;
    margin: 44px auto 60px auto;
    text-align: center;
    line-height: 50px
}

#ctas {
    margin: 0px auto;
    text-align: center;
    width: 100%
}

a.download {
    display: inline-block;
    width: 210px;
    height: 48px;
    border: 1px solid #5B93FC;
    border-radius: 4px;
    font-size: 16px;
    margin: 0px 8px 24px 8px;
    color: #5B93FC;
    vertical-align: middle;
    line-height: 48px;
    text-decoration: none
}

a.download:hover {
    opacity: 1;
    background-color: #5B93FC;
    color: #fff
}

.no-fill {
    fill: none
}

.blue-fill {
    fill: #5B93FC
}

.blue-fill-path {
    clip-path: url(#SVGID_2_);
    fill: #5B93FC
}

a.download:hover .blue-fill {
    fill: #ffffff
}

a.download:hover .blue-fill-path {
    fill: #ffffff
}

a.download-disabled {
    display: none;
    cursor: not-allowed;
    height: 32px;
    border: 1px solid #ccc;
    margin: 0px 0 10px 0;
    font-weight: 200;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    color: #ccc;
    line-height: 32px;
    text-decoration: none
}

a.download-disabled:hover {
    opacity: 1
}

.blue-fill {
    fill: #5B93FC
}

#ctas svg {
    position: relative;
    top: 8px;
    display: inline-block;
    margin-right: 6px;
    margin-left: 0px;
    width: 28px;
    height: 28px
}

#share {
    position: absolute;
    bottom: 80px;
    margin: 0px auto;
    text-align: center;
    left: 0;
    right: 0
}

a.share {
    font-family: "helveticaneue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #9197A3;
    text-decoration: none;
    margin: 0 10px
}

.devices-content {
    position: relative;
    min-height: 515px;
    padding-top: 40px
}

.devices-content:after {
    content: "";
    display: table;
    clear: both
}

.devices-content.is-sticky .devices-grid {
    padding-top: 100px
}

.filter-tab-wrapper {
    background-color: rgba(246, 247, 248, .96);
    -webkit-backdrop-filter: blur(20px);
    margin: 0 auto;
    height: 60px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.06);
    z-index: 1;
    width: 824px
}

.devices-content.is-sticky .filter-tab-wrapper {
    position: fixed;
    top: 60px;
    margin: 0 auto;
    text-align: center;
    width: 836px;
    left: 50%;
    margin-left: -418px
}

.filter-tab {
    width: auto;
    cursor: auto
}

.filter-tab ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center
}

.filter-tab li {
    display: inline-block
}

.filter-tab a {
    display: inline-block;
    padding: 22px 1em;
    width: auto;
    color: #9197A3;
    font-family: "helveticaneue-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none
}

.filter-tab a.selected {
    background: transparent;
    color: #5B93FC
}

.filter-tab a.disabled,
.filter-tab a.disabled:hover {
    color: #D7D9DE;
    cursor: no-drop
}

.mobile-filter a {
    display: none
}

.devices-grid {
    padding: 26px 0%;
    width: 100%;
    max-width: 820px;
    margin: 0 auto
}

.devices-grid li {
    margin-bottom: 1.6em;
    display: none
}

.devices-grid li.gap {
    opacity: 0;
    height: 0;
    display: inline-block
}

.devices-grid img {
    display: block;
    width: 100%
}

.devices-grid {
    padding: 40px 0%
}

.devices-grid ul {
    text-align: justify
}

.devices-grid ul:after {
    content: "";
    display: table;
    clear: both
}

.devices-grid {
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s
}

.devices-grid li {
    width: 31%
}

.content-wrapper {
    max-width: 820px;
    -webkit-transform: translateZ(0);
    margin: 0px auto 12px auto;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.content-wrapper img {
    width: 100%
}

.content-wrapper h2 {
    font-size: 42px;
    margin: 36px 0 24px 0
}

.content-wrapper p a {
    color: #5994FC;
    font-weight: 500;
    text-decoration: none
}

section.devices {
    margin: 0 auto;
    text-align: center;
    max-width: 820px;
    margin: 0px auto 12px auto;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

section.phones {
    margin: 0 auto;
    text-align: center;
    max-width: 820px;
    padding: 0px 18px
}

section.phones img {
    max-width: 820px
}

.full-width {
    padding: 36px 0
}

.full-width img {
    width: 100%
}

.screenshots {
    margin: 0 auto;
    text-align: center
}

.screenshots img {
    max-width: 320px;
    margin: 20px;
    padding: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2)
}

a.tooltip:hover {
    opacity: 1
}

.tooltip {
    display: inline;
    position: relative;
    z-index: 1;
    cursor: pointer
}

.tooltip img {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    margin: 0 6px 6px 0
}

.tooltip img:hover {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5)
}

.tooltip-disabled::after {
    content: '';
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #2a3035;
    border-width: 7px;
    margin-left: -7px
}

.tooltip-disabled {
    position: absolute;
    z-index: 1;
    border-radius: 400px;
    width: 108px;
    left: 50%;
    margin: 0 0 -85px -74px;
    bottom: 100%;
    text-align: center;
    background: #2a3035;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    font-family: "helveticaneue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 10px 20px;
    color: #fff
}

.tooltip .tooltip-disabled {
    -webkit-transform-origin: 50% calc(100% + 10px);
    transform-origin: 50% calc(100% + 10px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s
}

.tooltip:hover .tooltip-disabled {
    opacity: 1
}

.tooltip-text {
    position: absolute;
    z-index: 1;
    border-radius: 400px;
    width: 108px;
    left: 50%;
    margin: 0 0 45px -78px;
    bottom: 100%;
    text-align: center;
    background: #2a3035;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    font-family: "helveticaneue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 10px 20px;
    color: #fff
}

.tooltip .tooltip-text {
    -webkit-transform-origin: 50% calc(100% + 10px);
    transform-origin: 50% calc(100% + 10px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s
}

.tooltip:hover .tooltip-text {
    opacity: 1
}

.tooltip-text::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #2a3035;
    border-width: 7px;
    margin-left: -7px
}

.license {
    padding: 0 20px
}

.license h2 {
    font-weight: 500;
    font-size: 48px;
    padding-right: 20px;
    margin: 20px 0
}

.license p {
    line-height: 22px;
    font-size: 16px;
    font-weight: 200;
    color: #485664;
    margin-bottom: 20px
}

.license p a {
    color: #5994FC;
    font-weight: 500;
    text-decoration: none
}

#index p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
    padding: 12px 0 0 0
}

#index a {
    color: #5994FC;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    vertical-align: top
}

#index img {
    width: 100%;
    margin-bottom: 24px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px
}

#index img:hover {
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3)
}

#index .columns-2 {
    margin-bottom: 28px
}

#index a:hover {
    opacity: 1
}

.right {
    margin: 0 0 0 14px
}

.left {
    margin: 0 14px 0 0
}

.copyright {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: left
}

nav.footer-links {
    text-align: left
}

nav.footer-social,
.footer-social a {
    text-align: right;
    margin: 0 0 0 20px
}

.footer-links a {
    font-size: 14px;
    margin: 0 0 0 20px;
    color: #BDC1C9;
    text-decoration: none
}

.footer-social img {
    width: 20px;
    height: 20px
}

footer section.content-wrapper {
    padding: 28px 0 0 0;
    margin: 0 auto
}

footer section.content-wrapper p {
    color: #fff
}

footer {
    background: #4E5664;
    width: 100%;
    left: 0;
    margin-top: 36px;
    -webkit-transform: translateZ(0)
}

@media only screen and (min-width: 2000px) {
    #header-graphic,
    #header-graphic2,
    #header-graphic.devices,
    #header-graphic2.devices {
        background-size: 100%
    }
    #hands-graphic {
        background-size: 1200px
    }
}

@media only screen and (max-width: 1440px) {
    #header-graphic,
    #header-graphic2,
    #header-graphic.devices,
    #header-graphic2.devices {
        background-size: 1440px
    }
    #hands-graphic {
        background-size: 1000px
    }
}

@media only screen and (max-width: 860px) {
    .filter-tab-wrapper {
        background-color: rgba(246, 247, 248, .96);
        margin: 0 auto;
        height: 60px;
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.06);
        z-index: 1;
        width: 100%
    }
    .devices-content.is-sticky .filter-tab-wrapper {
        position: fixed;
        top: 60px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        left: auto;
        right: auto
    }
    .devices-content.is-sticky .devices-grid {
        padding-top: 84px
    }
    .devices-grid {
        padding: 26px 0%;
        width: 94%;
        max-width: 100%;
        margin: 0 auto
    }
    .header-wrapper,
    section.content-wrapper {
        padding: 0 22px
    }
    footer section.content-wrapper {
        padding: 24px 22px
    }
    .screenshots img {
        max-width: 200px
    }
    section img {
        width: 100%;
        height: 100%
    }
}

@media only screen and (max-width: 768px) {
    #top-content {
        margin-top: 14em
    }
    .right {
        margin: 0 0 0 11px
    }
    .left {
        margin: 0 11px 0 0
    }
    .columns-2 {
        width: 100%;
        margin: 0px 0
    }
    footer {
        height: auto
    }
    h4 {
        line-height: 20px
    }
    #index {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    #header-graphic {
        background-image: url(../img/resource_iOS9_mobile_cover@2x.jpg);
        background-size: 100%
    }
    #header-graphic.devices {
        background-image: url(../img/resource_devices_mobile_cover@2x.png);
        background-size: 100%
    }
    #hands-graphic {
        background-size: 700px
    }
    #header-graphic2 {
        display: none
    }
    .desktop-filter a {
        display: none
    }
    .mobile-filter a {
        display: block
    }
}

@media only screen and (max-width: 510px) {
    .tooltip-disabled {
        display: none
    }
    .devices-grid li {
        width: 48%;
        margin-bottom: 2em
    }
    .header-wrapper,
    section.content-wrapper {
        padding: 0 22px
    }
    #top-content {
        margin-top: 6em
    }
    .design-resources {
        display: none
    }
    #hands-graphic {
        background-size: 415px
    }
    a.share {
        font-size: 14px
    }
    #icon-container {
        display: block
    }
    .index {
        font-size: 34px;
        margin: 44px auto 44px auto;
        line-height: 44px
    }
    footer section.content-wrapper {
        padding: 24px 22px
    }
    a.download,
    .card p.download {
        display: none
    }
    a.download-disabled {
        display: inline-block
    }
    .content-wrapper {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .screenshots img {
        max-width: 125px;
        height: 100%;
        margin: 16px
    }
    h4 {
        line-height: 20px
    }
    nav.footer-social,
    .footer-social a {
        text-align: left;
        margin: 0 20px 0 0
    }
    #index {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .right {
        margin: 0 0 0 0
    }
    .left {
        margin: 0 0 0 0
    }
    .menu a {
        padding: 0 0 0 18px
    }
    .columns-2 {
        width: 100%;
        margin: 20px 0
    }
    footer {
        height: auto
    }
    #middle-content {
        margin-top: -6em
    }
    #middle-content h1,
    #top-content h1 {
        font-size: 34px
    }
    h3 {
        max-width: 300px;
        font-size: 14px
    }
    h4 {
        font-size: 14px
    }
    .filter-tab a {
        padding: 22px .7em
    }
    .content-wrapper h2 {
        font-size: 38px
    }
    .content-wrapper p {
        font-size: 16px
    }
    #share {
        bottom: 50px
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    a.download,
    .card p.download {
        display: none
    }
    a.download-disabled {
        display: inline-block
    }
    .card {
        pointer-events: none
    }
    #arrow {
        margin-top: -50px
    }
}

@media screen and ( min-height: 1230px) and ( min-width:510px) {
    #top-content {
        margin-top: 18em
    }
}

@media screen and ( max-height: 980px) and ( min-width:510px) {
    #top-content {
        margin-top: 6em
    }
    #hands-graphic {
        background-size: 900px
    }
}

@media screen and ( max-height: 920px) and ( min-width:510px) {
    #top-content {
        margin-top: 6em
    }
    #hands-graphic {
        background-size: 800px
    }
}

@media screen and ( max-height: 830px) and ( min-width:510px) {
    #hands-graphic {
        background-size: 700px
    }
    #share {
        bottom: 50px
    }
}

@media screen and ( max-height: 760px) and ( min-width:510px) {
    #hands-graphic {
        background-size: 600px
    }
}

@media screen and ( max-height: 705px) and ( min-width:510px) {
    #hands-graphic {
        background-size: 500px
    }
}

@media screen and ( max-height: 675px) and ( min-width:510px) {
    #header-graphic,
    #header-graphic2 {
        top: -75px
    }
    #hands-graphic {
        background-size: 500px
    }
}

@media screen and ( max-height: 630px) and ( min-width:510px) {
    #header-graphic,
    #header-graphic2 {
        top: -100px
    }
    #bottom-content {
        display: none
    }
    #hands-graphic {
        display: none
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    #hands-graphic {
        background-size: 320px;
        top: -120px
    }
    #top-content h1 {
        font-size: 30px
    }
    #share {
        bottom: 35px
    }
    .card {
        pointer-events: none
    }
    #bottom-content {
        bottom: 75px
    }
    #ctas {
        display: none
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    #hands-graphic {
        background-size: 414px;
        top: -140px
    }
    #top-content h1 {
        font-size: 32px
    }
    #share {
        bottom: 55px
    }
    .card {
        pointer-events: none
    }
    #bottom-content {
        bottom: 75px
    }
    #ctas {
        display: none
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    #hands-graphic {
        background-size: 414px;
        top: -110px
    }
    #share {
        bottom: 55px
    }
    .card {
        pointer-events: none
    }
    #bottom-content {
        bottom: 75px
    }
    #ctas {
        display: inline-block
    }
}