/*custom styles*/

body,html {
    font-size: 93.75%;
    height: 100%;
    width: 100%;

}

body {
    font-size: 1.13333333rem;
    line-height: 1.8rem;
}

h1 {
    color: #13293D;
    font-size: 8vw;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 2.7rem 0 0;
}

label {
    float: left;
    font-weight: 400;
}

/*
.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
*/

/*.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
}*/



.navbar-default {
    
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: -1px;
}

.dropdown-menu li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu .divider {
    margin: 0px 0;
}

#sign-in a {
    border-left: 1px solid #e7e7e7;
}

#sign-in a:hover {
    background-color: #e7e7e7;
}



.onepage-pagination li a.active::before {
    width: 1.5rem;
    height: 1.5rem;
    background: 0 0;
    border-width: 2px;
    border-style: solid;
    margin-top: -.5rem;
    left: .65rem;
    border-color: #1B98E0;

}

.onepage-pagination li a::before {
    content: '';
    position: absolute;
    width: .75rem;
    height: .75rem;
    /*background: 0 0;*/
    border-color: #1B98E0;
    border-radius: 1rem;
    background: #1B98E0;
}

.onepage-pagination li a {
    padding: 1rem;
    width: .75rem;
    height: .75rem;
    display: block;
}

.main {
     
    float: left;
    width: 100%;
    margin: 0 auto;
    
}

.main section  {
    overflow: hidden;
}


.slide-content {
    top: 50%;
    transform: translateY(-50%);
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0 1.8rem;
}

#diagram {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 20px;
}



.btn {
    text-align: center;
    width: 100%;
    height: 68px;
    border: 1px solid #1B98E0;
    border-radius: 0px;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    color: #1B98E0;
    vertical-align: middle;
    line-height: 48px;
    text-decoration: none;
    padding: 0px;
    background-color: transparent;
}

.btn:focus {
    background-color: transparent;
    border: 1px solid #1B98E0;
    color: #1B98E0;
}

.btn:hover {
    background-color: #1B98E0;
    color: #ffffff;
}

.btn:active {
    background-color: transparent;
    background-color: #1B98E0;
    /*color: #ffffff;*/
}

.form-control {
    height: 42px;
    border: 1px solid #4E5F6E;
    border-radius: 0px;

}

.scroll-down {
    display: block;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    left: 50%;
    bottom: 1.8rem;
    transform: translateX(-50%);
    height: 1.8rem;
    width: 2.7rem;
    background: url(assets/media-img/arrow.svg);
    color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
    transition: 600ms;
}

.onepage-pagination {
    position: absolute;
    right: 2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}

#iphone {
    padding-bottom: 20px;
}

#messagecontent {
    resize: none;
    height: 125px;
}

#submit {
    margin-top: -16px;
    width: 100%;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(27,152,224,.25);
    box-shadow: 0 5px 15px rgba(27,152,224,.25);
}

.modal-footer {

    text-align: center; 

}

#modal-ok-btn {
    width: 50%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-height: 820px) {
    .scroll-down {
        display: none;
    }
}

@media(max-width:767px) {
    .lead {
        font-size: 1.33rem;
    }
    h1 {
        font-size: 14vw;
    }
/*    .small {
        font-size: 4vw;
    }*/
}

@media(min-width:768px) {
    .lead {
        margin-left: 0px;
        margin-right: 0px;
        font-weight: 400;
        font-size: 1.8rem;
    }
    .btn {
        margin: 10px 0px 24px 0px;
        font-size: 26px;
        width: 440px;
        height: 96px;
    }
}

@media(min-width:992px) {}

@media(min-width:1200px) {}

@media(min-width:37.5em) {

    h1 {
      margin: 2.7rem 0 .9rem;  
    }
    
}

/*testing */

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}


