/*Jake Schroeder
9/12/16*/

/*override.css*/



/*------------------------------------------ global element styles*/

* {
	border-radius: 0px;
}

html,body{
/*	width: 100%;
	height: 100%;*/
  	min-height: 100vh;
  	position: relative;
}

body {
	padding-top: 70px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #4E5F6E;
	/*position: relative;*/
}

section {
	/*padding-bottom: 20px;*/
}

h1 {
	color: #13293D;
	font-size: 46px;
	font-weight: 700;
	padding-bottom: 20px;
}



p {

}

a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: #1B98E0;
	opacity: .8;
	cursor: pointer;

}

a:active {
	text-decoration: none;
	color: #1B98E0;
}

a:focus {
	text-decoration: none;
	color: #1B98E0;
}

label {
	float: left;
	font-weight: 400;
}

 {
	max-width: 80%;
}

/*------------------------------------------ end global element styles*/



/*------------------------------------------ nav styles*/

.navbar-default .navbar-nav > li > a {
	color: #333;
}

#logo {
	width: 94px;
	height: 22px;
}

.navbar-fixed-top {
	border-width: 0 0 0px;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default {
	box-shadow: 0px 1px 3px rgba(36,123,160, .40);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #13293D;
}

.navbar-toggle {
	border-radius: 0px;
}

#signin-btn {
	background-color: #1B98E0;

}

#signin-btn a {
	color: #ffffff;
}

#signin-btn:hover {
	opacity: .8;
}

/*------------------------------------------ end nav styles*/



/*------------------------------------------ body styles*/

/*.smaller-img {
	max-width: 80%;
}*/

.img-responsive {
	max-width: 70%;
}

.sticky-lower {
	display: none;
}


.text-muted {
	color: #BCBCBC;
	font-weight: 300;
	font-size: 14px;
}

.blue-text {
	color: #1B98E0;
}

.link-color {
	color: #247BA0;
	text-decoration: none;
}

#diagram{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}

#avatar {
	margin: 15px;
	padding-bottom: 20px;
}

#graph {
	margin: 15px;
	padding-bottom: 20px;
}

#clock {
	margin: 15px;
	padding-bottom: 20px;
}

#iphone {
	padding-bottom: 20px;
}

.lead {
	
	margin-left: 0px;
	margin-right: 0px;
	font-weight: 400;
	font-size: 22px;
}

.btn {
	text-align: center;
	width: 100%;
	height: 68px;
	border: 1px solid #1B98E0;
	border-radius: 0px;
	font-size: 16px;
	margin: 0px 0px 20px 0px;
	color: #1B98E0;
	vertical-align: middle;
	line-height: 48px;
	text-decoration: none;
	padding: 0px;
	background-color: transparent;
}

.btn:focus {
	background-color: transparent;
	border: 1px solid #1B98E0;
	color: #1B98E0;
}

.btn:hover {
	background-color: #1B98E0;
	color: #ffffff;
}

.btn:active {
	background-color: transparent;
	background-color: #1B98E0;
	/*color: #ffffff;*/
}

.form-control {
	height: 42px;
	border: 1px solid #4E5F6E;
	border-radius: 0px;

}

#messagecontent {
	resize: none;
	height: 125px;
}

#submit {
	margin-top: -16px;
	width: 100%;
}

#contact {
	padding-bottom: 20px;
}

.modal-content {
	-webkit-box-shadow: 0 5px 15px rgba(27,152,224,.25);
	box-shadow: 0 5px 15px rgba(27,152,224,.25);
}

.modal-footer {

	text-align: center; 

}

#modal-ok-btn {
	margin-top: 0px;
	margin-bottom: 0px;
}

#main-content {
	padding-bottom: 20px;
}

.panel-group {
	padding-top: 30px;
}

.panel-title {

	text-align: center;
}

/*.textarea:focus {
	border-color: green;
}*/

/*------------------------------------------ end body styles*/



/*------------------------------------------ footer styles*/

.footer {

	/*position: absolute;*/
	/*bottom: 0;*/
	width: 100%;
	min-height: 50px;
	box-shadow: 0px 1px 6px rgba(36,123,160, .40);
	background-color: #f8f8f8;
	
}

#footer-copy {
	text-align: center;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}

/*#stay-bottom {
	bottom: 0;
	position: absolute;
}*/

/*#navbar a {
	font-size: 12px;
}*/

/*------------------------------------------ end footer styles*/




/*------------------------------------------ media queries*/

@media only screen and (min-width : 480px) {

	h1 {
		font-size: 46px;
	}

	
	

}


@media only screen and (max-height : 820px) {

	#arrow {
		display: none;
	}


}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	#intro, #future,#main-content {
		/*padding-bottom: 20px;*/
		position: relative;
		min-height: 100vh;
		text-align: center;
	}

/*	#main-content {
		position: relative;
		min-height: 100vh;
	}*/

	#middle {
		padding-bottom: 50px;

	}

	#contact {
		padding-bottom: 100px;
		
	}

	#modal-ok-btn {
		width: 50%;
		height: auto;
	}

	.img-responsive {
	max-width: 80%;
	}

/*	#middle {
		position: relative;
		height: 100vh;
		padding-bottom: 20px;
	}
*/
	h1 {
		font-size: 72px;
	}

	p {
		font-size: 26px;
	}

	.lead {
		font-size: 26px;
	}

	.btn {
		margin: 10px 0px 24px 0px;
		font-size: 26px;
		width: 440px;
		height: 96px;
	}

	.sticky-lower {

		position: absolute;
		display: block;
		text-align: center;
		width: 100%;
		bottom: 80px;

	}

	#arrow {
		width: 50px;
		height: 28px;
		cursor: pointer;
		/*padding: 10px 10px;*/
	}




}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	h1 {
		font-size: 72px;
	}

	p {
		font-size: 26px;
	}

	.lead {
		font-size: 26px;
	}

	.btn {
		font-size: 26px;
	}



}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	h1 {
		font-size: 72px;
	}

	p {
		font-size: 26px;
	}

	.lead {
		font-size: 26px;
	}

	.btn {
		font-size: 26px;
	}



}

/*------------------------------------------ end media queries*/



/*testing stuff here*/

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

/*.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
*/

















